* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  width: 25vw;
  height: 90vh;
  background: #bbb9b9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.display {
  padding: 20px 40px;
  font-size: 1.4rem;
  border: none;
  background-color: #5f5e5e;
  width: 100%;
  color: azure;
  text-align: end;
  border-radius: 8px;
}
.btns {
  display: grid;
  gap: 10px;
  padding: 10px 0;
  grid-template-columns: repeat(4, 1fr);
}
button {
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 50%;
  background-color: #5f5e5e;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #7a7979;
}

@media only screen and (max-width: 800px) {
  .btns {
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  .box {
    height: 80vh;
    width: fit-content;
  }
}

.mode-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
}
.text {
  font-size: 2.5rem;
  color: #e0dede;
}
.mode {
  position: relative;
  width: 40px;
  height: 40px;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  border-radius: 50%;
  padding: 10px;
  background: #a8a6a6;
}
.icon.active {
  opacity: 1;
  pointer-events: auto;
}

.dark-mode {
  background: #222;
  color: #eee;
  border: 1px solid #eee;
}
